/* RESET */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}


/* GLOBALS */

.container {
	margin: auto;
	width: 800px;
}

.cf { *zoom: 1; }

.cf:before,
.cf:after {
	display: table;
	content: " ";
}

.cf:after { clear: both; }

body {
	color: #999;
	font: 16px/1.25 "proxima-nova-alt", sans-serif;
	text-rendering: optimizelegibility;
}

h1 {
	color: #333;
	font: 40px/1 "freight-sans-pro", sans-serif;
}

h2 {
	color: #333;
	font: 30px/1.33 "freight-sans-pro", sans-serif;
}

h3 { color: #999; }

a {
	color: #333;
	text-decoration: none;
}

li { list-style: none; }

img { display: block; }


/* HEADER */

.page-header {
	padding: 80px 0 20px;
	text-align: center;
}

.page-header h1 { margin-bottom: 10px; }


/* COLORS */

.color {
	margin: 20px 0;
	padding: 20px 40px;
	border-radius: 2px;
	color: #fff;
}

.color h2 {
	float: left;
	color: white;
	line-height: 40px;
}

.hex {
	float: right;
	margin-left: 20px;
	padding: 10px 20px;
	width: 160px;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
}


/* TOOLBAR */

body { padding-bottom: 60px; }

.toolbar {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 19px 0;
	height: 20px;
	background: #eee;
	color: #999;
}

.sharing {
	float: left;
	font-size: 0;
}

.sharing .button {
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
}

.sharing span {
	display: inline-block;
	padding: 4px 10px 3px;
}

.sharing .action {
	border-radius: 2px 0 0 2px;
	color: white;
}

.sharing .tweets .action { background: #00a0d1; }

.sharing .shares .action { background: #3b5998; }

.sharing .plusones .action { background: #db4a39; }

.sharing .count {
	border-radius: 0 2px 2px 0;
	background: white;
	color: #999;
}

.search { float: right; }

.suggest {
	float: right;
	margin-right: 20px;
}

.suggest a { color: #999; }

.suggest a:hover { color: #333; }


/* AD */

.ad {
	position: fixed;
	right: 20px;
	bottom: 80px;
	padding: 20px;
	width: 130px;
	background: #eee;
	text-align: center;
	font-size: 12px;
}

.bsa_it_i img { margin: 0 auto 10px; }

.bsa_it_t { display: block; }

.bsa_it_d {
	display: block;
	margin: 10px 0;
	color: #999;
}

.bsa_it_p { display: none; }
